/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Basic CSS */
:root {
    --pink: #fc5c65;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
}
.navbar {
    z-index: 99;
}
.navbar-nav > li > a {
    display: block;
    color: gray;
    text-decoration: none;
    transition: .4s;
    padding: 0.5rem 1rem;
}
.navbar-nav > li > a:hover {
    color: var(--pink);
}
.bg-custom {
    background-color: var(--pink);
}
.text-custom {
    color: var(--pink);
}
.bg-lightsalmon {
    background-color: rgba(255, 160, 122, 0.15);
}
.toast-border {
    border-left: 7px solid var(--pink);
    position: absolute;
    right: 0;
    top: 20%;
    z-index: 3;
}
.special-card {
    border-radius: 1.5rem;
    bottom: 2rem;
    left: 0;
}
.form input[type=text],[type=email] {
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
}
.form textarea {
    border: 2px solid gray;
    outline: none;
}
.form input:focus {
    background-color: #ffc3c5be;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--pink);
}
.form textarea:focus {
    border: 2px solid var(--pink);
    background-color: #ffc3c5be;
}
.form [type=submit]:hover {
    background-color: #d8333c;
}
@media only screen and (max-width: 400px) {
    .carousel-item{
        height: 50vh;
    }
    .carousel-item img {
        height: 100%;
    }
}