/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Basic CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
}
.navbar {
    z-index: 99;
}
.bg-custom {
    background-color: #fc5c65;
}
.text-custom {
    color: #fc5c65;
}
.bg-lightsalmon {
    background-color: rgba(255, 160, 122, 0.15);
}
.toast-border {
    border-left: 7px solid #fc5c65;
    position: absolute;
    right: 0;
    top: 20%;
    z-index: 3;
}
.special-card {
    border-radius: 1.5rem;
    bottom: 2rem;
    left: 0;
}
.form input[type=text],[type=email] {
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
}
.form textarea {
    border: 2px solid gray;
    outline: none;
}
.form input:focus {
    background-color: #ffc3c5be;
    outline: none;
    border: none;
    border-bottom: 2px solid #fc5c65;
}
.form textarea:focus {
    border: 2px solid #fc5c65;
    background-color: #ffc3c5be;
}
.form [type=submit]:hover {
    background-color: #d8333c;
}
@media only screen and (max-width: 400px) {
    .carousel-item{
        height: 50vh;
    }
    .carousel-item img {
        height: 100%;
    }
}